#db1 {
    background-color: blue;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
}

#all-index {
    background-color: red;
    display: flex;
    width: 300px;
    height: 30px;
    justify-content: space-around;
    padding: 5px;
}

#btn-index1 #btn-index2 #btn-index3 #btn-index4 {
    background-color: green;
}

#btn-del {
    height: 50px;
    
}

#btn-del #per-btn-del {
    position: relative;
    margin: -1px;
}

#per-btn-del {
    height: 20.4px;
    left: 33.33%;
}

#all-table {
    position: relative;
    float: left;
}

#change-btns {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
}
